Source: facerecognizer
Section: main
Priority: optional
Maintainer: Kang Lin <kl222@126.com>
Build-Depends: debhelper (>= 6)
Standards-Version:"v0.0.4"
Homepage: https://github.com/KangLin/FaceRecognizer
Vcs-Git: https://github.com/KangLin/FaceRecognizer.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/FaceRecognizer.git

Package: facerecognizer
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Face recognizer
