[Desktop Entry]
Type=Application
Name=FaceRecognizer
GenericName=FaceRecognizer
Comment=FaceRecognizer
Name[zh_CN]=人脸识别
GenericName[zh_CN]=人脸识别
Comment[zh_CN]=人脸识别
Icon=FaceRecognizer
Exec=/opt/FaceRecognizer/bin/FaceRecognizer
Terminal=false
StartupNotify=true
Categories=Application;Development;
